.countryData {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
}
.back {
    background-image: url(https://yankit-chauhan.github.io/NAGP-Angular/assets/images/worldmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.table-head {
    font-size: large;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.back-trans {
    opacity: 0.85;
}

.dist-table {
    background-color: white;
}