mat-card-title {
    color: #3f51b5;
    font-size: 24px;
}

mat-card-header{
    padding: 5px;
    border-bottom: 3px solid #ff4081;
}

mat-form-field {
    width: 100%;
}

.field-container {
    margin: 0.5em;
}

.form-div {
    padding: 3em 3em;
    justify-content: center
}

.back {
    min-height: 100vh;
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    background-color: black;
}

mat-card {
    opacity: 0.9;
}