h1 {
    color: white;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron{
    margin-top: 6em;
    justify-content: center;
}

button {
    margin-top: 4em;
}